<!-- instead of image.$key we can think of generating some random value
 async gives us an option to subscribe to observable images
 with image we have to display image-info component 
 ( comnments and likes)-->

<div fxLayout="row" fxLayoutAlign="center center">
    <div class="parent-container">
        <div fxLayout="row">
        </div>
        <h4>{{currentUserName}}!</h4>
        <md-grid-list cols="3" rowHeight="200px">
            <md-grid-tile *ngFor="let image of images | async" [routerLink]="['/image', image.$key]">
                <div class="thumbnail">
                    <md-card class=m yimages>
                        <img src="{{image.url}}" class="tn">
                    </md-card>
                </div>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>
    
    