<div class="container">
<div *ngIf="currentUpload">
  <div class="progress">
    <div class="progress-bar progress-bar-animated" 
    [ngStyle]="{ 'width': currentUpload?.status + '%' }"></div>
  </div>
  Progress: {{currentUpload?.status}}% Complete
</div>
<div class="box">
  <h2 class="heading">Upload New Images</h2>
  <label>
    <input type="file" class="button"
    (change)="manageFiles($event)" multiple>
  </label>>
  <button class="btn btn-primary" 
  [disabled]= "!selectedFiles"
  (click)="uploadFiles()">Upload Images
</button>
</div>
</div>
